:root {
    --color-text: #171717;
    --color-primary: #eaeaea;
    --color-secondary: #999;
}

html {
    scroll-behavior: smooth;
}

body{
    color: #171717;
    background-color: #fafafa;
}

html.lenis,
html.lenis body {
    height: auto;
}

.lenis.lenis-smooth {
    scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
    overflow: hidden;
}

.lenis.lenis-scrolling iframe {
    pointer-events: none;
}

section {
    padding: 3rem 0;
}

.cursor-pointer {
    cursor: pointer;
}

.cursor-none{
    cursor: none;
}

/*barra de rolagem */
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-text);
    border-radius: 6px;
}

/* cursor-cool */
.cursor-cool{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;
    pointer-events: none;
    opacity: 0;
}

.cursor-cool-circle{
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid #E9E9E9;
    border-radius: 50%;
    mix-blend-mode: difference;
}

.color-text{
    color: var(--color-text);
}

.color-primary{
    color: var(--color-primary) !important;
    background: initial;
    -webkit-background-clip: initial;
    -webkit-text-fill-color: initial;
}

footer{
    background-color: var(--color-text);
    padding: 3rem 0;
    min-height: 100vh;
    color: var(--color-primary);
}

footer h1{
    background: -webkit-linear-gradient(180deg, #eaeaea, #fff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
}

footer p{
    color: var(--color-primary);
}

@media (max-width: 767.98px) {
    section,
    footer {
        padding: 1.5rem 0;
    }

    .cursor-cool{
        display: none;
    }

    footer h1{
        font-size: 17vw;
    }
}